<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Produto</title>
</head>
<body>
    <h1>Adicionar Produto</h1>
    <form action="{% url 'core:produto_create' %}" method="post">
        {% csrf_token %}

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="grupo">Grupo:</label>
        <select id="grupo" name="grupo">
            {% for grupo in grupos %}
                <option value="{{ grupo.id }}">{{ grupo.nome }}</option>
            {% endfor %}
        </select><br><br>

        <label for="valor">Valor:</label>
        <input type="text" id="valor" name="valor" required><br><br>

        <button type="submit">Salvar Produto</button>
    </form>
</body>
</html>
