<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Vendas</title>
     {% load static %}
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Relatório de Vendas</h1>
        {% for venda in vendas %}
            <h2>Venda ID: {{ venda.id }}</h2>
            <p><strong>Cliente:</strong> {{ venda.cliente }}</p>
            <p><strong>Vendedor:</strong> {{ venda.vendedor }}</p>
            <p><strong>Data da Venda:</strong> {{ venda.data_venda }}</p>
            <h3>Produtos:</h3>
            <ul>
                {% for item in venda.itens.all %}
                    <li>
                        <strong>Produto:</strong> {{ item.produto.nome }},
                        <strong>Valor Unitário:</strong> R$ {{ item.produto.valor|floatformat:2 }},
                        <strong>Quantidade:</strong> {{ item.quantidade }},
                        <strong>Subtotal:</strong> R$ {{ item.subtotal|floatformat:2 }}
                    </li>
                {% endfor %}
            </ul>
            <p><strong>Valor Total da Venda:</strong> R$ {{ venda.valor_total|floatformat:2 }}</p>
            <hr>
        {% endfor %}
    </div>
</body>
</html>
